<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Pirinola</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <center>
    <h:body>
        
        <h:form>
            <p:panel header="LISTA DE JUGADORES">
                <h:panelGrid columns="2" id="Datos">
                    <p:outputLabel value="Nombre del Jugador: "/>
                    <p:outputLabel value="#{listaJugadoresController.temp.dato.nombre}"/>
                    <p:outputLabel value="Número de Fichas: "/>
                    <p:outputLabel value="#{listaJugadoresController.temp.dato.numeroFichas}"/> 
                </h:panelGrid>
                <h:panelGrid columns="4">
                    <p:commandButton value="Primero" update="@all" action="#{listaJugadoresController.irPrimero()}"/>
                    <p:commandButton value="Siguiente" update="@all" action="#{listaJugadoresController.irSiguiente()}"/>
                    <p:commandButton value="Último" update="@all"  action="#{listaJugadoresController.irUltimo()}"/>
                    <br></br>                        
                </h:panelGrid>
                
                <p:panel id="Bolsa">
                <p:outputLabel value="Bolsa: "/>
                <p:outputLabel value="#{listaJugadoresController.bolsa}"/>
                <br></br>
                <p:outputLabel value="Case: "/>
                <p:spinner min="1" max="20" value="#{listaJugadoresController.kase}" disabled="#{listaJugadoresController.deshabilitarJugar}" />
                <p:commandButton value="Jugar" update="@all" action="#{listaJugadoresController.sumResfichas(kase)}" disabled="#{listaJugadoresController.deshabilitarJugar}" />
                </p:panel>
            </p:panel>  
        </h:form>
        
        <h:form>
            
            <p:panel header="Inicio de Juego"  >
                <p:panelGrid columns="1" id="Juego">
                    <p:commandButton value="Elegir Jugador" action="#{listaJugadoresController.iniciador()}" update="@all" disabled="#{listaJugadoresController.habilitarMenuJuego}" />
                    <p:outputLabel value="#{listaJugadoresController.temp.dato.nombre}"/> 
                    
                </p:panelGrid>
                <br>
                </br>
                <p:panelGrid columns="2" id="Giros">
                    <p:commandButton value="Girar a la Izquierda" update="@all" action="#{listaPirinolaController.recorrerListaPirinolaIzquierda()}" disabled="#{listaJugadoresController.habilitarMenuJuego}"/>
                    <p:commandButton value="Girar a la Derecha" update="@all" action="#{listaPirinolaController.recorrerListaCircularDerecha()}" disabled="#{listaJugadoresController.habilitarMenuJuego}" />
                    
                </p:panelGrid>
            </p:panel>
        </h:form>
        <div></div>
    </h:body>
    </center>
    
</html>
