<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MotocicletaCreateDlg" widgetVar="MotocicletaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateMotocicletaTitle}">
            <h:form id="MotocicletaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{motocicletaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateMotocicletaLabel_codigo}" for="codigo" />
                        <p:inputText id="codigo" value="#{motocicletaController.selected.codigo}" title="#{bundle.CreateMotocicletaTitle_codigo}" required="true" requiredMessage="#{bundle.CreateMotocicletaRequiredMessage_codigo}"/>
                        <p:outputLabel value="#{bundle.CreateMotocicletaLabel_color}" for="color" />
                        <p:inputText id="color" value="#{motocicletaController.selected.color}" title="#{bundle.CreateMotocicletaTitle_color}" required="true" requiredMessage="#{bundle.CreateMotocicletaRequiredMessage_color}"/>
                        <p:outputLabel value="#{bundle.CreateMotocicletaLabel_fkMarca}" for="fkMarca" />
                        <p:selectOneMenu id="fkMarca" value="#{motocicletaController.selected.fkMarca}" required="true" requiredMessage="#{bundle.EditMotocicletaRequiredMessage_fkMarca}">
                            <f:selectItems value="#{marcaController.itemsAvailableSelectOne}"
                                           var="fkMarcaItem"
                                           itemValue="#{fkMarcaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{motocicletaController.create}" value="#{bundle.Save}" update="display,:MotocicletaListForm:datalist,:growl" oncomplete="handleSubmit(args,'MotocicletaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MotocicletaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
