<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MotocicletaViewDlg" widgetVar="MotocicletaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewMotocicletaTitle}">
            <h:form id="MotocicletaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{motocicletaController.selected != null}">
                        <h:outputText value="#{bundle.ViewMotocicletaLabel_codigo}"/>
                        <h:outputText value="#{motocicletaController.selected.codigo}" title="#{bundle.ViewMotocicletaTitle_codigo}"/>
                        <h:outputText value="#{bundle.ViewMotocicletaLabel_color}"/>
                        <h:outputText value="#{motocicletaController.selected.color}" title="#{bundle.ViewMotocicletaTitle_color}"/>
                        <h:outputText value="#{bundle.ViewMotocicletaLabel_fkMarca}"/>
                        <h:outputText value="#{motocicletaController.selected.fkMarca}" title="#{bundle.ViewMotocicletaTitle_fkMarca}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="MotocicletaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
