<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GrupoUsuarioEditDlg" widgetVar="GrupoUsuarioEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditGrupoUsuarioTitle}">
            <h:form id="GrupoUsuarioEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{grupoUsuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.EditGrupoUsuarioLabel_codigo}" for="codigo" />
                        <p:inputText id="codigo" value="#{grupoUsuarioController.selected.codigo}" title="#{bundle.EditGrupoUsuarioTitle_codigo}" required="true" requiredMessage="#{bundle.EditGrupoUsuarioRequiredMessage_codigo}"/>
                        <p:outputLabel value="#{bundle.EditGrupoUsuarioLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{grupoUsuarioController.selected.descripcion}" title="#{bundle.EditGrupoUsuarioTitle_descripcion}" required="true" requiredMessage="#{bundle.EditGrupoUsuarioRequiredMessage_descripcion}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{grupoUsuarioController.update}" value="#{bundle.Save}" update="display,:GrupoUsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args, 'GrupoUsuarioEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="GrupoUsuarioEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
