<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Gestión Carrera</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form>
            <p:panel header="Carrera">
                <h:panelGrid columns="2" id="hpgDatos">
                    <p:outputLabel value="Piloto:"/>
                    <p:outputLabel value="#{clasificacionController.nodoMostrar.piloto.nombre}"/>
                    <p:outputLabel value= "Número:"/>
                    <p:outputLabel value="#{clasificacionController.nodoMostrar.piloto.numero}"/>

                </h:panelGrid>
    </body>
</html>
