<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PilotoCreateDlg" widgetVar="PilotoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePilotoTitle}">
            <h:form id="PilotoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pilotoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePilotoLabel_numero}" for="numero" />
                        <p:inputText id="numero" value="#{pilotoController.selected.numero}" title="#{bundle.CreatePilotoTitle_numero}" required="true" requiredMessage="#{bundle.CreatePilotoRequiredMessage_numero}"/>
                        <p:outputLabel value="#{bundle.CreatePilotoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{pilotoController.selected.nombre}" title="#{bundle.CreatePilotoTitle_nombre}" required="true" requiredMessage="#{bundle.CreatePilotoRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreatePilotoLabel_edad}" for="edad" />
                        <p:inputText id="edad" value="#{pilotoController.selected.edad}" title="#{bundle.CreatePilotoTitle_edad}" required="true" requiredMessage="#{bundle.CreatePilotoRequiredMessage_edad}"/>
                        <p:outputLabel value="#{bundle.CreatePilotoLabel_fkEquipo}" for="fkEquipo" />
                        <p:selectOneMenu id="fkEquipo" value="#{pilotoController.selected.fkEquipo}" required="true" requiredMessage="#{bundle.EditPilotoRequiredMessage_fkEquipo}">
                            <f:selectItems value="#{equipoController.itemsAvailableSelectOne}"
                                           var="fkEquipoItem"
                                           itemValue="#{fkEquipoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreatePilotoLabel_fkMotocicleta}" for="fkMotocicleta" />
                        <p:selectOneMenu id="fkMotocicleta" value="#{pilotoController.selected.fkMotocicleta}" required="true" requiredMessage="#{bundle.EditPilotoRequiredMessage_fkMotocicleta}">
                            <f:selectItems value="#{motocicletaController.itemsAvailableSelectOne}"
                                           var="fkMotocicletaItem"
                                           itemValue="#{fkMotocicletaItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreatePilotoLabel_fkNacionalidad}" for="fkNacionalidad" />
                        <p:selectOneMenu id="fkNacionalidad" value="#{pilotoController.selected.fkNacionalidad}" required="true" requiredMessage="#{bundle.EditPilotoRequiredMessage_fkNacionalidad}">
                            <f:selectItems value="#{nacionalidadController.itemsAvailableSelectOne}"
                                           var="fkNacionalidadItem"
                                           itemValue="#{fkNacionalidadItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{pilotoController.create}" value="#{bundle.Save}" update="display,:PilotoListForm:datalist,:growl" oncomplete="handleSubmit(args,'PilotoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PilotoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
