<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListPilotoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="PilotoListForm">
                <p:panel header="#{bundle.ListPilotoTitle}">
                    <p:dataTable id="datalist" value="#{pilotoController.items}" var="item"
                                 selectionMode="single" selection="#{pilotoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.numero}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPilotoTitle_numero}"/>
                            </f:facet>
                            <h:outputText value="#{item.numero}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPilotoTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPilotoTitle_edad}"/>
                            </f:facet>
                            <h:outputText value="#{item.edad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPilotoTitle_fkEquipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkEquipo.descripcion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPilotoTitle_fkMotocicleta}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkMotocicleta.fkMarca.descripcion} - #{item.fkMotocicleta.color}" />
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPilotoTitle_fkNacionalidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkNacionalidad.descripcion}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{pilotoController.prepareCreate}" update=":PilotoCreateForm" oncomplete="PF('PilotoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":PilotoViewForm" oncomplete="PF('PilotoViewDialog').show()" disabled="#{empty pilotoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":PilotoEditForm" oncomplete="PF('PilotoEditDialog').show()" disabled="#{empty pilotoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{pilotoController.destroy}" update=":growl,datalist" disabled="#{empty pilotoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
