<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PilotoViewDlg" widgetVar="PilotoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPilotoTitle}">
            <h:form id="PilotoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pilotoController.selected != null}">
                        <h:outputText value="#{bundle.ViewPilotoLabel_numero}"/>
                        <h:outputText value="#{pilotoController.selected.numero}" title="#{bundle.ViewPilotoTitle_numero}"/>
                        <h:outputText value="#{bundle.ViewPilotoLabel_nombre}"/>
                        <h:outputText value="#{pilotoController.selected.nombre}" title="#{bundle.ViewPilotoTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewPilotoLabel_edad}"/>
                        <h:outputText value="#{pilotoController.selected.edad}" title="#{bundle.ViewPilotoTitle_edad}"/>
                        <h:outputText value="#{bundle.ViewPilotoLabel_fkEquipo}"/>
                        <h:outputText value="#{pilotoController.selected.fkEquipo}" title="#{bundle.ViewPilotoTitle_fkEquipo}"/>
                        <h:outputText value="#{bundle.ViewPilotoLabel_fkMotocicleta}"/>
                        <h:outputText value="#{pilotoController.selected.fkMotocicleta}" title="#{bundle.ViewPilotoTitle_fkMotocicleta}"/>
                        <h:outputText value="#{bundle.ViewPilotoLabel_fkNacionalidad}"/>
                        <h:outputText value="#{pilotoController.selected.fkNacionalidad}" title="#{bundle.ViewPilotoTitle_fkNacionalidad}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PilotoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
