<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="NacionalidadCreateDlg" widgetVar="NacionalidadCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateNacionalidadTitle}">
            <h:form id="NacionalidadCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{nacionalidadController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateNacionalidadLabel_codigo}" for="codigo" />
                        <p:inputText id="codigo" value="#{nacionalidadController.selected.codigo}" title="#{bundle.CreateNacionalidadTitle_codigo}" required="true" requiredMessage="#{bundle.CreateNacionalidadRequiredMessage_codigo}"/>
                        <p:outputLabel value="#{bundle.CreateNacionalidadLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{nacionalidadController.selected.descripcion}" title="#{bundle.CreateNacionalidadTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateNacionalidadRequiredMessage_descripcion}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{nacionalidadController.create}" value="#{bundle.Save}" update="display,:NacionalidadListForm:datalist,:growl" oncomplete="handleSubmit(args,'NacionalidadCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="NacionalidadCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
