<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="NacionalidadViewDlg" widgetVar="NacionalidadViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewNacionalidadTitle}">
            <h:form id="NacionalidadViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{nacionalidadController.selected != null}">
                        <h:outputText value="#{bundle.ViewNacionalidadLabel_codigo}"/>
                        <h:outputText value="#{nacionalidadController.selected.codigo}" title="#{bundle.ViewNacionalidadTitle_codigo}"/>
                        <h:outputText value="#{bundle.ViewNacionalidadLabel_descripcion}"/>
                        <h:outputText value="#{nacionalidadController.selected.descripcion}" title="#{bundle.ViewNacionalidadTitle_descripcion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="NacionalidadViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
