<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioEditDlg" widgetVar="UsuarioEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditUsuarioTitle}">
            <h:form id="UsuarioEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_codigo}" for="codigo" />
                        <p:inputText id="codigo" value="#{usuarioController.selected.codigo}" title="#{bundle.EditUsuarioTitle_codigo}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_codigo}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_documetno}" for="documetno" />
                        <p:inputText id="documetno" value="#{usuarioController.selected.documetno}" title="#{bundle.EditUsuarioTitle_documetno}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_documetno}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_nombreCompleto}" for="nombreCompleto" />
                        <p:inputText id="nombreCompleto" value="#{usuarioController.selected.nombreCompleto}" title="#{bundle.EditUsuarioTitle_nombreCompleto}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_nombreCompleto}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_correo}" for="correo" />
                        <p:inputText id="correo" value="#{usuarioController.selected.correo}" title="#{bundle.EditUsuarioTitle_correo}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_correo}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_contraseña}" for="contraseña" />
                        <p:inputText id="contraseña" value="#{usuarioController.selected.contraseña}" title="#{bundle.EditUsuarioTitle_contraseña}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_contraseña}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_codigoTipoUsuario}" for="codigoTipoUsuario" />
                        <p:selectOneMenu id="codigoTipoUsuario" value="#{usuarioController.selected.codigoTipoUsuario}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_codigoTipoUsuario}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{grupoUsuarioController.itemsAvailableSelectOne}"
                                           var="codigoTipoUsuarioItem"
                                           itemValue="#{codigoTipoUsuarioItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.update}" value="#{bundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UsuarioEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsuarioEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
