<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioViewDlg" widgetVar="UsuarioViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUsuarioTitle}">
            <h:form id="UsuarioViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <h:outputText value="#{bundle.ViewUsuarioLabel_codigo}"/>
                        <h:outputText value="#{usuarioController.selected.codigo}" title="#{bundle.ViewUsuarioTitle_codigo}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_documetno}"/>
                        <h:outputText value="#{usuarioController.selected.documetno}" title="#{bundle.ViewUsuarioTitle_documetno}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_nombreCompleto}"/>
                        <h:outputText value="#{usuarioController.selected.nombreCompleto}" title="#{bundle.ViewUsuarioTitle_nombreCompleto}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_correo}"/>
                        <h:outputText value="#{usuarioController.selected.correo}" title="#{bundle.ViewUsuarioTitle_correo}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_contraseña}"/>
                        <h:outputText value="#{usuarioController.selected.contraseña}" title="#{bundle.ViewUsuarioTitle_contraseña}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_codigoTipoUsuario}"/>
                        <h:outputText value="#{usuarioController.selected.codigoTipoUsuario}" title="#{bundle.ViewUsuarioTitle_codigoTipoUsuario}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UsuarioViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
