<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>MotoGP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form>
            <p:growl>
            <p:panel header="Bienvenidos a MotoGp">
                <h:panelGrid columns="2">
                    <p:outputLabel value="Usuario:"/>
                    <p:inputText value="#{loginController.correo}" required="true"/>
                    <p:outputLabel value="Password:"/>
                    <p:password value="#{loginController.password}" required="true"/>
                </h:panelGrid>
                <p:commandButton value="Ingresar" update="@all"
                                 action="#{loginController.autenticarUsuario()}"/>
            </p:panel>
            </p:growl>
            </h:form>
    </h:body>
</html>
